* {
	font-family: 'Raleway', sans-serif;
}
body {
	background-color: #39252E; /*#39252E;*/
	line-height: 1.5;
	color: black;
	margin: 0;
	padding: 0;
}	
#wrapper {
	width: 950px;
	margin: auto;
	border: 1px solid black;
	background-color :#E0ECF4;
}
#topnav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position: sticky;
	opacity: 90%;
    top: 0;
	z-index:1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7C4161;
}
li.nav {
    float: right;
}
li.nav a {
    display: block;
    color: #ffff;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
li.nav a:hover:not(.active) {
    background-color: #30588C;
    color: #ffff;
}
#pageheader {
	background-color: #39252E;
	min-height: 40vh;
}
#rowone {
	display: flex;
	min-height: 280px;
}
main {
	background-color: #39252E;
	color: #ffff;
	height: 30%;
	flex-basis: 100%;
	text-align: center;
	margin-top: 15px;
}
.rowtwo {
	display: flex;
	min-height: 420px;
}
section {
	padding: 45px;
}
.embed {
	width: 765px;
	height: 420px;
	vertical-align: middle;
	float: right;
	padding-right: 45px;
}
.columnone {
	background-color: #39252E;
	color: #ffff;
	flex-basis: 50%;
	text-align: center;
	margin-top: 15px;
}
.columntwo {
	background-color: #39252E;
	flex-basis: 50%;
	margin-top: 15px;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	background-color: #1c1216;
	margin-top: 15px;
}
.columnthree {
	background-color: #150C11;
	color: #ffff;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
img {
	width: 100%;
	vertical-align: middle;
}
#columnfour {
	background-color: #39252E;
	flex-basis: 50%;
	color: #ffff;
}
#columnfive {
	background-color: #39252E;
	color: #ffff;
	flex-basis: 50%;
}
.rowcarousel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.columnsix {
	background-color: #39252E;
	flex-basis: 50%;
	padding: 15px;
}
#pagefooter {
	background-color: #7C4161;
	color: #ffff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
a.socials {
	color: #ffff;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
}
a:hover {
	color:  #30588C;
}
.arrow-left {
    font-size: 40px;
    position: absolute;
	text-align: center;
    top: 45%;
    left: 10%;
	height: 55px;
	width: 50px;
    border: 1px solid #7C4161;
    background-color: #39252E;
    color: #7C4161;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-right {
    font-size: 40px;
    position: absolute;
	text-align: center;
    top: 45%;
    right: 10%;
	height: 55px;
	width: 50px;
    border: 1px solid #7C4161;
    background-color: #39252E;
    color: #7C4161;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.text-above {
	color: #ffff;
	text-align: center;
	background-color: #39252E;
	margin: 0;
	padding: 0;
}
p {
	padding-right: 20px;
	padding-left: 20px;
}
h2 { 
	padding: 0;
	margin-top: 15px;
	margin-bottom: 0;
}
h2#bio { 
	padding: 0;
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 40px;
    font-weight: bold;
	font-family: 'Finger Paint', cursive;
}
h3#nickname {
	color: #C0C0C0;
	padding: 5px;
	margin: 0;
	font-family: 'Finger Paint', cursive;
}
p#biodescription {
	font-family: 'Finger Paint', cursive;
}
h2#music {
	padding-top: 50px;
}
#arcanetitle {
	height: 30px;
	width: 530;
	padding: 15px;
} 
/* Extra logo
#logo {
	margin-left: 15px;
	height: 50px;
	width: 45px;
	padding: 5px;
} */
/*about*/
.rowcreators {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.columnseven {
	padding: 0px;
	margin-top: 15px;
	margin-right: 45px;
	margin-left: 45px;
	color: #ffff;
	width: 30%;
	text-align: center;
}
.rowcast {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	margin-right: 30px;
	margin-left: 30px;
}
.image-hover-text
{
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	transition: all 0.2s linear;
	margin: 15px;
	color: #ffff;
}
.hover-text
{
	position: absolute;
	top: 0;
	width: 100%;  
	height: 100%;
	opacity: 0;
	transition: 0.2s linear;
}
.hover-text:hover 
{
	opacity: 90%;
}
.hover-text-bubble
{
	position: relative;
	box-sizing: border-box;
	top: 0; left: 0; right: 100%;
	height: 100%;
	text-align: center;
	background: #30588C;
	padding: 30% 0px;
	overflow: hidden;
	font-size: 15px;
	text-align: center;
	word-wrap: break-word;
}
.hover-text .hover-text-title
{
	font-size: 25px;
	display: block;
}
/*contact*/
.contact {
	border-radius: 5px;
	background-color: #5b2f47;
	color: #ffff;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 45px;
	margin-right: 45px;
}
input::placeholder, textarea::placeholder {
	color: #ffff;
}
input[type=text], select, textarea {
	background-color: #150C11;
	width: 100%;
	padding: 10px;
	border: 1px solid #7C4161;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 15px;
	resize: vertical;
	color: #ffff;
}
input[type=submit] {
	background-color: #30588C;
	color: #ffff;
	padding: 15px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #274972;
}